#tweet-01 .thumbnail { background: url('https://pbs.twimg.com/profile_images/619288978533957633/uC8w6vOz_bigger.png'); }
#tweet-01 .tweet-name::before { content: "Ash Ambirge"; }
#tweet-01 .tweet-handle::before { content: "@TMFproject"; }
#tweet-01 .tweet-date::before { content: "10/8"; }
#tweet-01 .tweet-message::before { content: "The way you think about email is about to change... http://bit.ly/1O51Nid  #DoMoreWithEmail @AWeber"; }

#tweet-02 .thumbnail { background: url('https://pbs.twimg.com/profile_images/563438136173539328/oUCb90zS_bigger.jpeg'); }
#tweet-02 .tweet-name::before { content: "Lexi - Copywriter"; }
#tweet-02 .tweet-handle::before { content: "@lexirodrigo"; }
#tweet-02 .tweet-date::before { content: "10/8"; }
#tweet-02 .tweet-message::before { content: "Excited to find out what new platform @AWeber's unveiling! http://bit.ly/1O51Nid  #DoMoreWithEmail"; }
